{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">AJANTHA Watch Store</h2>

<div class="row">
  {% for product in products %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/' ~ product.image) }}"
           class="card-img-top" alt="{{ product.model }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.brand }} - {{ product.model }}</h5>
        <p class="card-text">
          Category: {{ product.category }} <br>
          Price: ${{ product.price }}
        </p>
        <a href="{{ url_for('product_detail', product_id=product.id) }}"
           class="btn btn-primary">View</a>
        <a href="{{ url_for('add_to_basket', product_id=product.id) }}"
           class="btn btn-success">Add to Basket</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
